:root {
  --septa-widget-input-font-size: clamp(1.6rem, 5vw, 2rem);
  --septa-widget-input-border-color: #aaa;
  --septa-widget-input-border-width: 2px;
  --septa-widget-input-border-radius: 12px;
  --septa-widget-input-padding: 10px 20px;
  --septa-widget-theme-color: #0000ff;
  --septa-widget-theme-error-color: #ca0707;
  --septa-widget-theme-error-bgcolor: #ffe9e9;
  --septa-widget-theme-accent-color: #1f4fa3;
  --septa-widget-theme-accent-color-light: #78a6f7;
  --septa-widget-select-focus: blue;
  --septa-widget-select-arrow: var(--septa-widget-input-border-color);
}

// -----
// Assumed values based on potential app container
html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// -----

// redfine box-sizing to be widget specific in case container lacks global delcaration
.septa-widget * {
  box-sizing: border-box;
}
.septa-widget {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.septa-widget header,
.septa-widget footer {
  width: 100%;
}

.septa-widget header {
  display: flex;
  gap: 20px;
  height: 80px;
  padding: 20px;
  align-items: center;
  justify-content: center;

  img {
    max-height: 100%;
  }

  h1 {
    margin: 0;
    font-size: clamp(2rem, 6vw, 2.5rem);
  }

}

.septa-widget footer {
  padding: 20px;
  min-height: 200px;

  h2 {
    font-weight: 600;
    font-size: var(--septa-widget-input-font-size);
    margin: 0;
  }

  .total {
    font-weight: bold;
    font-size: clamp(4rem, 10vw, 5rem);
    margin: 0;
  }
}

.septa-widget header,
.septa-widget footer {
  background: #4f4f4f;
  color: #ffffff;
}

/*----------------------------------------------*\
    #APP
\*----------------------------------------------*/
.septa-widget .loading,
.septa-widget main {
  max-width: 550px;
  margin: 0 auto;
}

.septa-widget .loading {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.septa-widget main {

  .input-row {
    border-bottom: 1px solid #ccc;
    padding: clamp(1rem, 4vw, 2rem) 2rem;

    &:last-child {
      border-bottom: 0;
    }

    select,
    input {
      font-size: var(--septa-widget-input-font-size);
      padding: var(--septa-widget-input-padding);
    }

    // Using class to account for custom themed input elements
    .label {
      font-size: var(--septa-widget-input-font-size);
      font-weight: 600;
      display: block;
      margin: 0 0 20px 0;
    }

    select,
    input {
      border: 1px solid var(--septa-widget-input-border-color);
      border-radius: var(--septa-widget-input-border-radius);
      border-width: var(--septa-widget-input-border-width);

      &:focus {
        outline: none;
        border-color: var(--septa-widget-theme-accent-color);
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .25);
      }
    }

    /* Custom select styling */
    .themed-select {
      display: grid;
      grid-template-areas: "select";
      align-items: center;
      position: relative;
      margin: 0 auto;
      min-width: 15ch;
      max-width: 40ch;
      cursor: pointer;
      line-height: 1.1;
      background-color: #fff;
      background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

      // Reset select box (except border)
      select {
        appearance: none;
        background-color: transparent;
        padding-right: 30px;
        margin: 0;
        width: 100%;
        cursor: inherit;
        line-height: inherit;

      }

      select,
      &::after {
        grid-area: select;
      }

      // Themed arrow
      &::after {
        content: "";
        justify-self: end;
        width: 1.5rem;
        height: .8rem;
        margin-right: 15px;
        background-color: var(--septa-widget-theme-accent-color);
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        pointer-events: none;
      }
    }

    .description {
      color: #666;
      font-size: clamp(1rem, 3vw, 1.25rem);
      margin-bottom: 0;
    }

    .input-contain {
      text-align: left;
      display: inline-block;
    }

    /* Custom radio button styling */
    .themed-input-radio {
      display: block;
      cursor: pointer;
      position: relative;
      
      input[type="radio"] {
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        top: 0;

        & ~ label {
          font-size: var(--septa-widget-input-font-size);
          position: relative;
          display: flex;
          align-items: center;
          gap: .375em;

          span {
            content: "";
            display: block;
            position: relative;
            aspect-ratio: 1;
            width: auto;
            height: .7em;
            border: 3px solid #fff;
            box-shadow: 0 0 0 2px var(--septa-widget-input-border-color);
            border-radius: 50%;
            background: #fff;
          }
        }

        &:checked ~ label span {
            background: radial-gradient(circle at top left, var(--septa-widget-theme-accent-color-light), var(--septa-widget-theme-accent-color));
        }

        &:focus {
          outline: none;
          & ~ label {
            color: var(--septa-widget-theme-accent-color);
            span {
              box-shadow: 0 0 0 2px var(--septa-widget-theme-accent-color), 2px 2px 5px 2px rgba(0, 0, 0, .25);
            }
          }
        }
      }
    }

    .themed-input-number {
      position: relative;
      display: inline-block;
      z-index: 1;
      
      // TODO: Add functionality to custom number slider buttons
      // WebKit and Blink
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      // Firefox
      input[type="number"] {
        -moz-appearance: textfield;
      }

      // Styles disabled for now
      /*
      &::before,
      &::after {
        content: "";
        cursor: pointer;
        position: absolute;
        right: 15px;
        z-index: 2;
        justify-self: end;
        width: 1.5rem;
        height: .8rem;
        background-color: var(--septa-widget-theme-accent-color);
        font-size: var(--septa-widget-input-font-size);
      }

      &::before {
        bottom: calc(50% + 3px);
        clip-path: polygon(50% 0, 100% 100%, 0 100%);
     }

      &::after {
        top: calc(50% + 3px);
        clip-path: polygon(100% 0, 0 0, 50% 100%);
      }
      */

      &.error input {
        border-color: var(--septa-widget-theme-error-color);
        color: var(--septa-widget-theme-error-color);
        background-color: var(--septa-widget-theme-error-bgcolor);
      }

    }

    /* Specific input styles */
    #num-tickets {
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      width: 100%;

    }
  }

}

.septa-widget  footer {
  
  .savings-info {
    margin: 0 auto;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10px;

    svg {
      color: var(--septa-widget-theme-accent-color-light);
      max-width: 80px;
    }
  }

}